.navbarContainer{
    height: 60px; 
}
.wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left{
    width: 33%;
    display: flex;
    align-items: center;
}
.left span{
    font-size: 14px;
}
.seacrhContainer{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 5px;
}
.seacrhContainer input{
    border: 0.5px;
}
.searcIcon{
    color: gray;
    font-size: 15px;
    cursor: pointer;
}
/*  center  */
.center{
    width: 33%;
}
.logo{
    text-align: center;
}


/*  right */
.right{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuItems{
    margin-left: 25px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.cartItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart{
    font-size: 25px;
    color: green;
}
.cartCount{
    margin-top: -15px;
    font-size: 18px; 
}