.footerContainer {
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leftFooter {
    width: 32%;
}

.logoFooter {
    font-style: italic;
    color: crimson;
}

.text {
    font-style: italic;
}

.socialIcon {
    margin-top: 30px;
}

.footerIcon {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    color: blue;
    transition: .5s;
}

.footerIcon:hover {
    color: crimson;
}


/* /center footer */

.centerFooter {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerItems {
    padding-left: 0;
}

.footerItems li {
    list-style-type: none;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    transition: .5s;
}

.footerItems li:hover {
    color: rgba(0, 0, 255, 0.609)
}


/*  right footer */

.rightFooter {
    width: 32%;
}

.contactIcon {
    font-size: 22px;
    margin-right: 10px;
}

.paymentCart {
    margin-top: 20px;
}

.pyIcon {
    font-size: 40px;
    margin-right: 15px;
    color: crimson;
}